.active {
  position: relative;
  color: #000;
}

.active::before {
  z-index: 20;
  content: '';
  position: absolute;
  height: 0.25rem;
  background: #000;
  width: 100%;
  bottom: -24px;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}