{% load static %}
{% include 'index.html' %}
{% block content %}
{% endblock content %}



<div class="main-content">
  
            
         
             
                <div>
                     chat
                </div>
                <div >
                    <a 
                    id="chat">
                   <input type="hidden" name="test" id="user" value="{{user.id_user}}"> 
                   <input type="hidden" name="test" id="my_profile" value="{{my_profile.id_user}}"> 
                   
                    Get
                </a>
                    

                <div
                 id="output">
                
                </div>
      
      </div>